[tool.poetry]
name = "fitk"
version = "0.10.2"
description = "The Fisher Information ToolKit"
authors = ["JCGoran <goran.jelic-cizmek@unige.ch>"]
license = "MIT"
readme = "README.md"
documentation = "https://jcgoran.github.io/fitk/"
repository = "https://github.com/JCGoran/fitk/"

[tool.poetry.dependencies]
python = ">=3.7,<4"
numpy = [
    {version = "1.21.6", python = "==3.7"},
    {version = ">1.22", python = ">=3.8"}
]
scipy = [
    {version = "1.7.3", python = "==3.7"},
    {version = ">1.7.3", python = ">=3.8"}
]
matplotlib = [
    {version = "3.5.3", python = "==3.7"},
    {version = ">3.5.3", python = ">=3.8"}
]
sympy = {version = "*"}
coffe = { version = "*", optional = true }
classy = { version = "*", optional = true }

[tool.poetry.extras]
coffe = ["coffe"]
classy = ["classy"]
interfaces = ["coffe", "classy"]

[tool.poetry.dev-dependencies]
black = "*"
pytest = "*"
pylint = "*"
mypy = "*"
jupyterlab = "*"
cosmicfish = {git = "https://github.com/jcgoran/cosmicfish", rev = "feature/pip-install"}
vermin = "*"
pytest-cov = "*"
coverage = "*"
pdoc = "*"
pytest-mpl = "*"
packaging = "*"
importlib-metadata = "*"
python-lsp-server = "*"
pydocstyle = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
