[tool.poetry]
name = "fitk"
version = "0.6.6"
description = "The Fisher Information ToolKit"
authors = ["JCGoran <goran.jelic-cizmek@unige.ch>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7,<4"
numpy = [
    {version = "1.21.6", python = "==3.7"},
    {version = ">1.22", python = ">=3.8"}
]
scipy = [
    {version = "1.7.3", python = "==3.7"},
    {version = ">1.7.3", python = ">=3.8"}
]
matplotlib = [
    {version = "^3.5", python = "<3.11"},
    {version = "^3.6", python = ">=3.11"}
]

[tool.poetry.dev-dependencies]
black = "*"
pytest = "*"
pylint = "*"
mypy = "*"
jupyterlab = "*"
cosmicfish = {git = "https://github.com/jcgoran/cosmicfish", rev = "feature/pip-install"}
vermin = "*"
pytest-cov = "*"
coverage = "*"
pdoc = "*"
pytest-mpl = "*"
packaging = "*"
importlib-metadata = "*"
python-lsp-server = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
